/* Navbar */
.navbar {
    height: 9vh;
}

.dropdown-menu {
    width: 260px !important;
}

/* Container */
.bg {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/tengyart-pYlSLXkduQg-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.containerBox {
    width: 60%;
}

/* Fonts */
.sixCaps {
    font-family: 'Six Caps', sans-serif;
    letter-spacing: 1.5px;
}

.scoreboard {
    font-size: 28px !important;
}

.headFont {
    font-size: 45px;
}

.josefinSlab {
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
}

.whiteF {
    color: #FFFFFF;
}

hr {
    margin: auto;
}

.font-30 {
    font-size: 30px;
}

.font-choice {
    font-size: 25px;
    letter-spacing: 1px;
}

.font-60 {
    font-size: 50px;
}

.sub-heading {
    font-size: 35px;
}

.padding-header {
    padding-top: 5vh;
}

.gameBox {
    min-height: 45vh;
}

.padding-sub-header {
    padding-top: 15vh;
}

/* Media Queries */
@media screen and (max-width: 684px) {
    .containerBox {
        width: 90% !important;
    }
}

@media screen and (max-width: 600px) {
    .footerMediumHide {
        display: none !important;
    }
}

@media screen and (max-width: 400px) {
    .footerSmallHide {
        display: none !important;
    }
}