.bg {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/tengyart-pYlSLXkduQg-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sixCaps {
    font-family: 'Six Caps', sans-serif;
    letter-spacing: 1px;
}

.josefinSlab {
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
}

.whiteF {
    color: #FFFFFF;
}

hr {
    /* width: 60%; */
    margin: auto;
}

.dropdown-menu {
    width: 260px !important;
}

.font-30 {
    font-size: 30px;
}

.font-60 {
    font-size: 50px;
    /* font-weight: lighter; */
}