.navbar {
    height: 9vh;
}

.bg {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/tengyart-pYlSLXkduQg-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sixCaps {
    font-family: 'Six Caps', sans-serif;
    letter-spacing: 1.5px;
}

.scoreboard {
    /* letter-spacing: 2px !important; */
    font-size: 28px !important;
}

.headFont {
    font-size: 45px;
}

.josefinSlab {
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
}

.whiteF {
    color: #FFFFFF;
}

hr {
    /* width: 60%; */
    margin: auto;
}

.dropdown-menu {
    width: 260px !important;
}

.font-30 {
    font-size: 30px;
}

.font-choice {
    font-size: 25px;
    letter-spacing: 1px;
}

.font-60 {
    font-size: 50px;
    /* font-weight: lighter; */
}

.sub-heading {
    font-size: 35px;
}

.padding-header {
    padding-top: 5vh;
}

.gameBox {
    height: 45vh;
}

.padding-sub-header {
    padding-top: 15vh;
}